<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.toolman.dao.UserMapper">
    <select id="selectByUsername" resultType="com.whu.toolman.entity.User">
        select * from user
        where username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.whu.toolman.entity.User">
        insert into user(uuid, username, password, name, email, create_time)
        values(#{uuid}, #{username}, #{password}, #{name}, #{email}, now())
    </insert>
</mapper>